# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
# Sensitive var files
*.tfvars
*.tfvars.json
!example.tfvars
# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl.bak

.env
*.pem
*.key

policy/plan.json
